.trending-project {
  position: absolute;
  display: flex;
  flex-direction: column;
  }
  
  .trending-project  .title1 {
    color: #262626;
    font-size: 1.375rem;
    font-family: Poppins;
    font-weight: 500;
  }
  
  .trending-project  .selector {
    height:fit-content;
    margin: 18px 0px 18px 0px;
  }
  
  .trending-project  .trend-list {
    display: inline-flex;
    align-items: flex-start;
    gap: 1rem;
  }
  